<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--NavBar Begin -->
    <header class="row">
      <div class="col-2">
        <div class="circle">
          <br />
          We live
          <br />
          We do
          <br />
          We act
        </div>

      </div>
      <div class="col-5 slogan">
      Splurting out actory stuff for actors who like to act.
      </div>
      <div class="col-3 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>

    </header>
    <hr />
<!--NavBar End -->

    <br class="clear" />
    <div class="container">

    <%= yield %>
      
    </div>

<!-- ########  Footer begin ######## -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more cheesy goodness", "#", class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by <a href="#">Joshua Bangle</a><br />
            Want to build your own Splurty web app? - <a href="https://online.bootcampspot.com">Learn how to code here!</a>
          </div>
        </div>
      </div>
    </div>
<!-- ########   Footer end ####### -->

  </body>
 
</html>
